FIREBASE_TOKEN="TOKEN"
JWT_PASSPHRASE="PASSPHRASE" # php bin/console app:genere-jwt-passphrase
FIREBASE_DSN="firebase://FIREBASE_TOKEN@default"

###> symfony/firebase-notifier ###
MAILER_DSN="gmail+smtp://EMAIL:PASSPHRASE@default"
###< symfony/firebase-notifier ###