FIREBASE_TOKEN=TOKEN
JWT_PASSPHRASE=PASSPHRASE # php bin/console app:genere-jwt-passphrase
MAILER_DSN="smtp://hugo.schellinger@gmail.com:fkwynjoshbeclkau@smtp.gmail.com:587" # EX : "smtp://mail@gmail.com:passphrase@smtp.gmail.com:587"