JWT_PASSPHRASE="PASSPHRASE" # php bin/console app:genere-jwt-passphrase

###> symfony/firebase-notifier ###
MAILER_DSN="gmail+smtp://EMAIL:PASSPHRASE@default"
###< symfony/firebase-notifier ###

APP_ENV=dev
DOMAIN="http://127.0.0.1:8000" # SANS LE / DE FIN